/* .crazy-meme {
    .ant-table-wrapper
        .ant-table-thead
        > tr
        > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not(
            [colspan]
        )::before {
        width: 0;
    }
    .ant-typography .ant-typography-copy {
        color: #848e9c;
    }
} */
