/* @import 'antd.css'; */
@import './preact.css';
@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* .p-column-title {
    @apply w-full;
} */
.p-button:focus {
    box-shadow: none !important;
    outline: none !important;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.customScrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.customScrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.customScrollbar::-webkit-scrollbar-thumb {
    background: #7a89a2;
    border-radius: 6px;
}
.homeCustomScrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.homeCustomScrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.homeCustomScrollbar::-webkit-scrollbar-thumb {
    background: rgba(122, 137, 162, 0.3);
    border-radius: 8px;
}
.guideModalCustomScrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.guideModalCustomScrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.guideModalCustomScrollbar::-webkit-scrollbar-thumb {
    background: #7a89a2;
    border-radius: 8px;
}

@layer components {
    .memeinfo-custom-tabview .p-tabview-nav {
        @apply border-b-2 border-black bg-nav-bgc text-[1.5rem] font-normal flex-items-center md:h-12 md:text-base;
    }

    .memeinfo-custom-tabview .p-tabview-selected .p-tabview-nav-link {
        @apply text-white;
    }
    .memeinfo-custom-tabview .p-tabview-nav-link {
        @apply border-none bg-transparent text-[#7A89A2];
    }
    .memeinfo-custom-tabview .p-tabview-selected .p-tabview-nav-link::after {
        content: '';
        @apply absolute bottom-0 left-1/2 h-0.5 w-1/3 -translate-x-1/2 bg-white;
    }
}
