.item {
    display: flex;
    align-items: center;
    position: relative;
}

.line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.branch {
    width: 1px;
    background-color: #848e9c;
    position: relative;
}

.branch::before {
    content: '';
    position: absolute;
    left: 100%;
    width: 10px;
    height: 1px;
    background-color: #848e9c;
    transform: translateY(-50%);
}
/* input[type='number'] {
    -moz-appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

.table-fixed {
    table-layout: fixed;
}
